@tailwind base;
@tailwind components;
@tailwind utilities;

@import './variables';

body {
  font-family: var(--font-body);
}

html {
  overflow-y: scroll;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

h1, h2 {
  font-family: var(--font-display);
}

h3, h4, h5, h6 {
  font-family: var(--font-display);
}

.app:has(nav:hover) .page {
  filter: blur(10px);
  pointer-events: none;
}